body{
	background-color: lightgray;
	color: black;
	font-family:arial;
}
body p{
	background-color: pink;
}
h1{
	text-align: center;
	color:red;
	text-transform: uppercase;
	border-bottom-style: groove;
	border-bottom-color: tomato;
}

div#contenedor{
	border: solid lightblue;
}

div#contenedor2{
	border: solid darkred;
}

